<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Login wanderlust</h1>

            <form class="needs-validation" method="POST" action="/login" novalidate>

                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                    <div class="invalid-feedback">
                        select valid username
                    </div>
                </div>

                <div class="mb-3">
                    <label for="passward" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>

                <button type="submit" class="btn btn-green btn-add">Login</button>
            </form>


        </div>
    </div>